AZUSMDA201V/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AZUSMDA201V"
		},
		"Attunity_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Attunity'"
		},
		"Attunity_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Attunity'"
		},
		"AzureBlobStorageBackUp_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorageBackUp'"
		},
		"AzureBolbStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBolbStorage'"
		},
		"CommonServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'CommonServer'"
		},
		"CosmosDb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDb'"
		},
		"SMD_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SMD'"
		},
		"Attunity_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "MTRCORP\\Smdtdbu"
		},
		"CommonServer_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\Twdsmda201v\\smdm"
		},
		"CommonServer_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "mtrcorp\\smdtintf"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_CarNo_parameters_windowStart": {
			"type": "string",
			"defaultValue": "2019-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_CarNo_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "2029-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_CM_InitialDelaySetting_parameters_windowStart": {
			"type": "string",
			"defaultValue": "2019-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_CM_InitialDelaySetting_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "2029-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_EquipmentClassAssocCode_parameters_windowStart": {
			"type": "string",
			"defaultValue": "2019-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_EquipmentClassAssocCode_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "2029-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_EquipmentNo_parameters_windowStart": {
			"type": "string",
			"defaultValue": "2019-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_EquipmentNo_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "2029-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_FailCodeWithEquipNo_parameters_windowStart": {
			"type": "string",
			"defaultValue": "2019-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_FailCodeWithEquipNo_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "2029-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_StandardJob_parameters_windowStart": {
			"type": "string",
			"defaultValue": "2019-09-09"
		},
		"Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_StandardJob_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "2029-09-09"
		},
		"Trigger_Attunity_EquipmentClass_properties_CopyPipeline_Attunity_EquipmentClass_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addhours(trigger().scheduledTime, -12)}"
		},
		"Trigger_Attunity_EquipmentClass_properties_CopyPipeline_Attunity_EquipmentClass_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Trigger_rpa_excel_properties_CopyPipeline_CompleteWO_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addminutes(trigger().scheduledTime, -5)}"
		},
		"Trigger_rpa_excel_properties_CopyPipeline_CompleteWO_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Trigger_rpa_excel_properties_CopyPipeline_CmTemplate_BlobToCommonServer_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addminutes(trigger().scheduledTime, -5)}"
		},
		"Trigger_rpa_excel_properties_CopyPipeline_CmTemplate_BlobToCommonServer_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Trigger_rpa_excel_properties_CopyPipeline_SyncCmRequest_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addminutes(trigger().scheduledTime, -5)}"
		},
		"Trigger_rpa_excel_properties_CopyPipeline_SyncCmRequest_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Trigger_rpa_excel_properties_CopyPipeline_Fitdefitment_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addminutes(trigger().scheduledTime, -5)}"
		},
		"Trigger_rpa_excel_properties_CopyPipeline_Fitdefitment_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Trigger_rpa_excel2_properties_CopyPipeline_CompleteWO_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addminutes(trigger().scheduledTime, -5)}"
		},
		"Trigger_rpa_excel2_properties_CopyPipeline_CompleteWO_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Trigger_rpa_excel2_properties_CopyPipeline_CmTemplate_BlobToCommonServer_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addminutes(trigger().scheduledTime, -5)}"
		},
		"Trigger_rpa_excel2_properties_CopyPipeline_CmTemplate_BlobToCommonServer_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Trigger_rpa_excel2_properties_CopyPipeline_SyncCmRequest_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addminutes(trigger().scheduledTime, -5)}"
		},
		"Trigger_rpa_excel2_properties_CopyPipeline_SyncCmRequest_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"Trigger_rpa_excel2_properties_CopyPipeline_Fitdefitment_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@{addminutes(trigger().scheduledTime, -5)}"
		},
		"Trigger_rpa_excel2_properties_CopyPipeline_Fitdefitment_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		},
		"SharedIntegrationRuntime_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/1e984346-edba-4a2c-8888-cf0f668bea68/resourcegroups/EDP_Testing/providers/Microsoft.DataFactory/factories/AZUEDPA204V/integrationruntimes/AZUEDPA201V"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_AxleNo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_qf8",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT DISTINCT E3.EQUIP_NO AS AxleNo, E4.EQUIP_CLASS_CD FROM EI_EQUIP_STRT E1,EI_EQUIPMENT E2,EI_EQUIPMENT E3,EI_EQUIP_CLASS E4 \nWHERE E1.PARENT_EQUIP_ID = E2.EQUIP_ID AND E1.EQUIP_ID = E3.EQUIP_ID AND E4.EQUIP_CLASS_ID = E3.EQUIP_CLASS_ID AND E4.EQUIP_CLASS_CD LIKE '%AXLE%'",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_Axle",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_AxleNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_AxleNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT DISTINCT E3.EQUIP_NO AS AxleNo, E4.EQUIP_CLASS_CD FROM EI_EQUIP_STRT E1,EI_EQUIPMENT E2,EI_EQUIPMENT E3,EI_EQUIP_CLASS E4 \nWHERE E1.PARENT_EQUIP_ID = E2.EQUIP_ID AND E1.EQUIP_ID = E3.EQUIP_ID AND E4.EQUIP_CLASS_ID = E3.EQUIP_CLASS_ID AND E4.EQUIP_CLASS_CD LIKE '%AXLE%'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_AxleNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-13T06:53:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_AxleNo')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_AxleNo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_BogieNo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_qf8",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_SYS_GENERIC_CODE"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT DISTINCT E3.EQUIP_NO  AS BogieNo, E4.EQUIP_CLASS_CD FROM EI_EQUIP_STRT E1,EI_EQUIPMENT E2,EI_EQUIPMENT E3,EI_EQUIP_CLASS E4 \nWHERE E1.PARENT_EQUIP_ID = E2.EQUIP_ID AND E1.EQUIP_ID = E3.EQUIP_ID AND E4.EQUIP_CLASS_ID = E3.EQUIP_CLASS_ID AND E4.EQUIP_CLASS_CD LIKE '%BOGIE%'",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_Bogie",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_BogieNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_BogieNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT DISTINCT E3.EQUIP_NO  AS BogieNo, E4.EQUIP_CLASS_CD FROM EI_EQUIP_STRT E1,EI_EQUIPMENT E2,EI_EQUIPMENT E3,EI_EQUIP_CLASS E4 \nWHERE E1.PARENT_EQUIP_ID = E2.EQUIP_ID AND E1.EQUIP_ID = E3.EQUIP_ID AND E4.EQUIP_CLASS_ID = E3.EQUIP_CLASS_ID AND E4.EQUIP_CLASS_CD LIKE '%BOGIE%'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_BogieNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-13T06:53:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_BogieNo')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_BogieNo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_CM_InitialDelaySetting')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_puk",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_CM_InitialDelaySetting"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT d.[EQUIP_CLASS_CD]\n, c.[CTX_ID1]\n, c.[CTX_ID2]\n, c.[CTX_ID3]\n, c.[CTX_ID4]\nFROM [mmsdb].[dbo].[CO_UDF_SET_ASSOC] a\nLEFT OUTER JOIN [mmsdb].[dbo].[CO_UDF_SET] b ON b.UDF_SET_ID = a.UDF_SET_ID\nLEFT OUTER JOIN [mmsdb].[dbo].[CO_UDF_ASSOC] c ON c.UDF_ASSOC_ID = b.[UDF_ASSOC_ID]\nLEFT OUTER JOIN [mmsdb].[dbo].[EI_EQUIP_CLASS] d ON c.[CTX_ID1] = CAST(d.EQUIP_CLASS_ID AS CHAR)\nWHERE c.GC_CTX_TYPE_CD = 'WO' AND c.CTX_ID2 <> 'C&R PROJECT WORKS' \nAND a.UDF_ID = (SELECT UDF_ID FROM [mmsdb].[dbo].[CO_UDF_DEF] WHERE UDF_NAME = 'Ref. Initial Delay (min)')\nORDER BY d.EQUIP_CLASS_CD\n",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_CM_InitialDelaySetting"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"CTX_ID1": "EQUIP_CLASS_ID",
									"EQUIP_CLASS_CD": "EQUIP_CLASS_CD",
									"CTX_ID2": "WorkNatureLevel1",
									"CTX_ID3": "WorkNatureLevel2",
									"CTX_ID4": "StandardJobCode"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_CM_InitialDelaySetting",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_CM_InitialDelaySetting",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT d.[EQUIP_CLASS_CD]\n, c.[CTX_ID1]\n, c.[CTX_ID2]\n, c.[CTX_ID3]\n, c.[CTX_ID4]\nFROM [mmsdb].[dbo].[CO_UDF_SET_ASSOC] a\nLEFT OUTER JOIN [mmsdb].[dbo].[CO_UDF_SET] b ON b.UDF_SET_ID = a.UDF_SET_ID\nLEFT OUTER JOIN [mmsdb].[dbo].[CO_UDF_ASSOC] c ON c.UDF_ASSOC_ID = b.[UDF_ASSOC_ID]\nLEFT OUTER JOIN [mmsdb].[dbo].[EI_EQUIP_CLASS] d ON c.[CTX_ID1] = CAST(d.EQUIP_CLASS_ID AS CHAR)\nWHERE c.GC_CTX_TYPE_CD = 'WO' AND c.CTX_ID2 <> 'C&R PROJECT WORKS' \nAND a.UDF_ID = (SELECT UDF_ID FROM [mmsdb].[dbo].[CO_UDF_DEF] WHERE UDF_NAME = 'Ref. Initial Delay (min)')\nORDER BY d.EQUIP_CLASS_CD\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_CM_InitialDelaySetting",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T03:52:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_CM_InitialDelaySetting')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_CM_InitialDelaySetting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_CarNo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_qf8",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_SYS_GENERIC_CODE"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT EQUIP_CLASS_CD AS CarNo FROM xls_v_Equipment_Registration WHERE EQUIP_CLASS_CD LIKE 'EMUY-SS%' ORDER BY EQUIP_NO;",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_Cart",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CarNo"
										},
										"sink": {
											"name": "CarNo",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_CarNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_CarNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT EQUIP_CLASS_CD AS CarNo FROM xls_v_Equipment_Registration WHERE EQUIP_CLASS_CD LIKE 'EMUY-SS%' ORDER BY EQUIP_NO;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_CarNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T15:21:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_CarNo')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_CarNo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_EquipmentClass')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_EquipCLass",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_EquipmentClass"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select EQUIP_CLASS_ID, EQUIP_CLASS_CD from EI_EQUIP_CLASS",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table dbo.Attunity_EquipmentClass",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EQUIP_CLASS_ID",
											"type": "Int64"
										},
										"sink": {
											"name": "EQUIP_CLASS_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EQUIP_CLASS_CD",
											"type": "String"
										},
										"sink": {
											"name": "EQUIP_CLASS_CD",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_EquipmentClass",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_EquipmentClass",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select EQUIP_CLASS_ID, EQUIP_CLASS_CD from EI_EQUIP_CLASS",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_EquipmentClass",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-18T02:43:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_EquipmentClass')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_EquipmentClass')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_EquipmentClassAssocCode')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_z4k",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_EquipmentClassAssocCode"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT\nE1.EQUIP_CLASS_ID,\nE2.EQUIP_CLASS_CD,\nE1.ITEM_TYPE [TYPE],\nS.CODE ,\nS.DESP,\nNULL as ParentCode\nFROM dbo.EI_EQUIP_CLASS_ITEMS_ASSOC E1\nLEFT OUTER JOIN  dbo.EI_EQUIP_CLASS E2 ON E1.EQUIP_CLASS_ID = E2.EQUIP_CLASS_ID\nLEFT OUTER JOIN  dbo.SA_SYS_GENERIC_CODE S ON  E1.GC_ITEM_CD = S.CODE AND E1.ITEM_TYPE  = S.TYPE\nWHERE ITEM_TYPE in ( 'IMPACT_CODE','FAILURE_SYMPTOM_CODE','FAILURE_CONSEQUENCE_CODE','FAILURE_CODE','FAILURE_CAUSE_CODE','FAILURE_ACTION_CODE','COMPONENT_CODE') and S.STATUS = 1\nand E1.EQUIP_CLASS_ID is not null",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_EquipmentClassAssocCode"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EQUIP_CLASS_ID"
										},
										"sink": {
											"name": "EQUIP_CLASS_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EQUIP_CLASS_CD"
										},
										"sink": {
											"name": "EQUIP_CLASS_CD",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TYPE"
										},
										"sink": {
											"name": "TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CODE"
										},
										"sink": {
											"name": "CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESP"
										},
										"sink": {
											"name": "DESP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ParentCode"
										},
										"sink": {
											"name": "ParentCode",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_EquipmentClassAssocCode",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_EquipmentClassAssocCode",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT\nE1.EQUIP_CLASS_ID,\nE2.EQUIP_CLASS_CD,\nE1.ITEM_TYPE [TYPE],\nS.CODE ,\nS.DESP,\nNULL as ParentCode\nFROM dbo.EI_EQUIP_CLASS_ITEMS_ASSOC E1\nLEFT OUTER JOIN  dbo.EI_EQUIP_CLASS E2 ON E1.EQUIP_CLASS_ID = E2.EQUIP_CLASS_ID\nLEFT OUTER JOIN  dbo.SA_SYS_GENERIC_CODE S ON  E1.GC_ITEM_CD = S.CODE AND E1.ITEM_TYPE  = S.TYPE\nWHERE ITEM_TYPE in ( 'IMPACT_CODE','FAILURE_SYMPTOM_CODE','FAILURE_CONSEQUENCE_CODE','FAILURE_CODE','FAILURE_CAUSE_CODE','FAILURE_ACTION_CODE','COMPONENT_CODE') and S.STATUS = 1\nand E1.EQUIP_CLASS_ID is not null",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_EquipmentClassAssocCode",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T14:12:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_EquipmentClassAssocCode')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_EquipmentClassAssocCode')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_EquipmentNo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_6h9",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_StandardJob"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT EQUIP_CLASS_CD AS EquipmentNo FROM xls_v_Equipment_Registration WHERE EQUIP_CLASS_CD LIKE 'EMUYS-%' ORDER BY EQUIP_NO;",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_Equipment",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EquipmentNo"
										},
										"sink": {
											"name": "EquipmentNo",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_EquipmentNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_EquipmentNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT EQUIP_CLASS_CD AS EquipmentNo FROM xls_v_Equipment_Registration WHERE EQUIP_CLASS_CD LIKE 'EMUYS-%' ORDER BY EQUIP_NO;",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_EquipmentNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T14:51:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_EquipmentNo')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_EquipmentNo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_FailCodeWithEquipNo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_6h9",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_StandardJob"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT DISTINCT CODE AS FAILURE_CODE, \n'WORK_NATURE_2' AS FAILURE_CODE_TYPE,\n'' AS EQUIP_NO,\nDESP\nFROM SA_SYS_GENERIC_Code\nWHERE TYPE = 'WORK_NATURE'\nAND PARENT_GC_ID in\n(\n    SELECT GC_ID  FROM SA_SYS_GENERIC_Code WHERE CODE = 'CM'\n)\nUnion \nSELECT DISTINCT CODE, \n'WORK_NATURE_1',\n'',\nDESP\nFROM SA_SYS_GENERIC_Code\nWHERE TYPE = 'WORK_NATURE'\nAND CODE = 'CM'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_FailueCodeWithEquipNo",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_FailCodeWithEquipNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_FailCodeWithEquipNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT DISTINCT CODE AS FAILURE_CODE, \n'WORK_NATURE_2' AS FAILURE_CODE_TYPE,\n'' AS EQUIP_NO,\nDESP\nFROM SA_SYS_GENERIC_Code\nWHERE TYPE = 'WORK_NATURE'\nAND PARENT_GC_ID in\n(\n    SELECT GC_ID  FROM SA_SYS_GENERIC_Code WHERE CODE = 'CM'\n)\nUnion \nSELECT DISTINCT CODE, \n'WORK_NATURE_1',\n'',\nDESP\nFROM SA_SYS_GENERIC_Code\nWHERE TYPE = 'WORK_NATURE'\nAND CODE = 'CM'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_FailCodeWithEquipNo",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T14:48:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_FailCodeWithEquipNo')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_FailCodeWithEquipNo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_IMTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_qf8",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_SYS_GENERIC_CODE"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "WITH CTE1 AS (\n  SELECT\n    V.EQUIP_NO,\n    V.EQUIP_CLASS_CD,\n    V.EQUIP_DESP, \n    V.EQUIP_CLASS_DESP, \n    E.EQUIP_ID\n  FROM\n    xls_v_Equipment_Registration V\n    inner join EI_EQUIPMENT E on E.EQUIP_NO = V.EQUIP_NO\n  WHERE\n    (\n      (\n        V.EQUIP_CLASS_CD LIKE 'MST%'\n        AND V.EQUIP_NO LIKE 'EI%'\n      )\n      OR (\n        V.EQUIP_CLASS_CD LIKE 'MSI%'\n        AND (\n          V.EQUIP_NO LIKE 'WIX%'\n          OR V.EQUIP_NO LIKE 'WIY%'\n        )\n      )\n    )\n), CTE2 AS (\n  SELECT \n    MIN(W.PLAN_START_DATE) AS PLAN_START_DATE, \n    W.EQUIP_ID\n  FROM\n    WM_WORK_ORDER W \n    left join SA_WORK_GRP S on S.WK_GRP_ID = W.WK_GRP_ID\n    inner join CTE1 C1 on C1.EQUIP_ID = W.EQUIP_ID\n  WHERE\n    W.CREATE_DATE >= DATEADD(MONTH, -12, GETDATE())\n    and S.WK_GRP_ID in (\n      SELECT\n        WK_GRP_ID \n      FROM \n        SA_WORK_GRP \n      WHERE \n        WK_GRP_CD like 'MR%'\n    )\n    and W.STATUS = 'OP'\n    --and W.PLAN_START_DATE >= GETDATE()\n  GROUP BY\n    W.EQUIP_ID\n)\nSELECT\n  C1.*, \n  C2.PLAN_START_DATE\nFROM\n  CTE1 C1 \n  left join CTE2 C2 on C2.EQUIP_ID = C1.EQUIP_ID\nWHERE\nC1.EQUIP_NO is not null\nORDER BY\n  C1.EQUIP_NO",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_IMTE",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_IMTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_IMTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "WITH CTE1 AS (\n  SELECT\n    V.EQUIP_NO,\n    V.EQUIP_CLASS_CD,\n    V.EQUIP_DESP, \n    V.EQUIP_CLASS_DESP, \n    E.EQUIP_ID\n  FROM\n    xls_v_Equipment_Registration V\n    inner join EI_EQUIPMENT E on E.EQUIP_NO = V.EQUIP_NO\n  WHERE\n    (\n      (\n        V.EQUIP_CLASS_CD LIKE 'MST%'\n        AND V.EQUIP_NO LIKE 'EI%'\n      )\n      OR (\n        V.EQUIP_CLASS_CD LIKE 'MSI%'\n        AND (\n          V.EQUIP_NO LIKE 'WIX%'\n          OR V.EQUIP_NO LIKE 'WIY%'\n        )\n      )\n    )\n), CTE2 AS (\n  SELECT \n    MIN(W.PLAN_START_DATE) AS PLAN_START_DATE, \n    W.EQUIP_ID\n  FROM\n    WM_WORK_ORDER W \n    left join SA_WORK_GRP S on S.WK_GRP_ID = W.WK_GRP_ID\n    inner join CTE1 C1 on C1.EQUIP_ID = W.EQUIP_ID\n  WHERE\n    W.CREATE_DATE >= DATEADD(MONTH, -12, GETDATE())\n    and S.WK_GRP_ID in (\n      SELECT\n        WK_GRP_ID \n      FROM \n        SA_WORK_GRP \n      WHERE \n        WK_GRP_CD like 'MR%'\n    )\n    and W.STATUS = 'OP'\n    --and W.PLAN_START_DATE >= GETDATE()\n  GROUP BY\n    W.EQUIP_ID\n)\nSELECT\n  C1.*, \n  C2.PLAN_START_DATE\nFROM\n  CTE1 C1 \n  left join CTE2 C2 on C2.EQUIP_ID = C1.EQUIP_ID\nWHERE\nC1.EQUIP_NO is not null\nORDER BY\n  C1.EQUIP_NO",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_IMTE",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T15:01:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_IMTE')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_IMTE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_SYS_GENERIC_CODE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_qf8",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_SYS_GENERIC_CODE"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \r\n  LINE_CD AS [Code], \r\n  LINE_NAME AS [Name],  \r\n  'LINE' As [Type],\r\n  '' ParentCode,\r\n  '' DESP\r\nFROM CO_LINE\r\n  UNION\r\nSELECT LOC_CD AS [Code], \r\n  LOC_NAME AS [Name],  \r\n  'Location_DEPOT' As [Type],\r\n  '' ParentCode,\r\n  '' DESP\r\nFROM\r\n  CO_LOCATION\r\n  where GC_LOC_TYPE_CD='DEPOT'\r\n  UNION\r\nSELECT CODE, '' as [Name], 'WORK_NATURE_Level1' AS [Type], ''  ParentCode, DESP\r\nFROM SA_SYS_GENERIC_CODE WHERE CODE in ('PM', 'CM') AND TYPE = 'WORK_NATURE'\r\nUNION\r\nSELECT CODE, '' as [Name], 'WORK_NATURE_Level2_PM' AS [Type], 'PM'  ParentCode, DESP\r\nFROM SA_SYS_GENERIC_CODE \r\nWHERE PARENT_GC_ID in \r\n(SELECT GC_ID FROM SA_SYS_GENERIC_CODE CODE WHERE  CODE = 'PM' AND TYPE = 'WORK_NATURE')\r\nUNION\r\nSELECT CODE, '' as [Name], 'WORK_NATURE_Level2_CM' AS [Type], 'CM'  ParentCode, DESP\r\nFROM SA_SYS_GENERIC_CODE \r\nWHERE PARENT_GC_ID in \r\n(SELECT GC_ID FROM SA_SYS_GENERIC_CODE CODE WHERE  CODE = 'CM' AND TYPE = 'WORK_NATURE')\r\n",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_EquipmentClassAssocCode"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String"
										},
										"sink": {
											"name": "Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ParentCode",
											"type": "String"
										},
										"sink": {
											"name": "ParentCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DESP",
											"type": "String"
										},
										"sink": {
											"name": "DESP",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_SYS_GENERIC_CODE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_SYS_GENERIC_CODE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \n  LINE_CD AS [Code], \n  LINE_NAME AS [Name],  \n  'LINE' As [Type],\n  '' ParentCode,\n  '' DESP\nFROM CO_LINE\n  UNION\nSELECT LOC_CD AS [Code], \n  LOC_NAME AS [Name],  \n  'Location_DEPOT' As [Type],\n  '' ParentCode,\n  '' DESP\nFROM\n  CO_LOCATION\n  where GC_LOC_TYPE_CD='DEPOT'\n  UNION\nSELECT CODE, '' as [Name], 'WORK_NATURE_Level1' AS [Type], ''  ParentCode, DESP\nFROM SA_SYS_GENERIC_CODE WHERE CODE in ('PM', 'CM') AND TYPE = 'WORK_NATURE'\nUNION\nSELECT CODE, '' as [Name], 'WORK_NATURE_Level2_PM' AS [Type], 'PM'  ParentCode, DESP\nFROM SA_SYS_GENERIC_CODE \nWHERE PARENT_GC_ID in \n(SELECT GC_ID FROM SA_SYS_GENERIC_CODE CODE WHERE  CODE = 'PM' AND TYPE = 'WORK_NATURE')\nUNION\nSELECT CODE, '' as [Name], 'WORK_NATURE_Level2_CM' AS [Type], 'CM'  ParentCode, DESP\nFROM SA_SYS_GENERIC_CODE \nWHERE PARENT_GC_ID in \n(SELECT GC_ID FROM SA_SYS_GENERIC_CODE CODE WHERE  CODE = 'CM' AND TYPE = 'WORK_NATURE')\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_SYS_GENERIC_CODE",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T14:19:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_SYS_GENERIC_CODE')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_SYS_GENERIC_CODE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Attunity_StandardJob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_6h9",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "."
							},
							{
								"name": "Destination",
								"value": "dbo.Attunity_StandardJob"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT  STD_JOB_CD, STD_JOB_DESP, WK_GRP_CD,GC_WORK_NATURE_LVL1_CD,GC_WORK_NATURE_LVL2_CD,ESTIMATE_JOB_DUR\nFROM xls_v_Standard_Job\nWHERE GC_WORK_NATURE_LVL1_CD='CM'\n",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.Attunity_StandardJob"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "STD_JOB_CD",
											"type": "String"
										},
										"sink": {
											"name": "StandardJobCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STD_JOB_DESP",
											"type": "String"
										},
										"sink": {
											"name": "StandardJobDesp",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WK_GRP_CD",
											"type": "String"
										},
										"sink": {
											"name": "WorkGroupCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GC_WORK_NATURE_LVL1_CD",
											"type": "String"
										},
										"sink": {
											"name": "WorkNatureLevel1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "GC_WORK_NATURE_LVL2_CD",
											"type": "String"
										},
										"sink": {
											"name": "WorkNatureLevel2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ESTIMATE_JOB_DUR",
											"type": "Int16"
										},
										"sink": {
											"name": "EstimateJobDuration",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_Attunity_StandardJob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_Attunity_StandardJob",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT  STD_JOB_CD, STD_JOB_DESP, WK_GRP_CD,GC_WORK_NATURE_LVL1_CD,GC_WORK_NATURE_LVL2_CD,ESTIMATE_JOB_DUR\nFROM xls_v_Standard_Job\nWHERE GC_WORK_NATURE_LVL1_CD='CM'\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SourceDataset_Attunity_StandardJob",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T14:16:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_Attunity_StandardJob')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_Attunity_StandardJob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_BackUpAzureStorage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_bq6",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "root//"
							},
							{
								"name": "Destination",
								"value": "root//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@pipeline().parameters.windowStart",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@pipeline().parameters.windowEnd",
										"type": "Expression"
									},
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_OriginBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_DestinationBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T15:05:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_OriginBlob')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_DestinationBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_CmTemplate_BlobToCommonServer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_yhp",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "smd-cmuploadworkorderfile//"
							},
							{
								"name": "Destination",
								"value": "CreateCMWO/New/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@pipeline().parameters.windowStart",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@pipeline().parameters.windowEnd",
										"type": "Expression"
									},
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_cmTemplate_Blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_cmTemplate_CommonServer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T07:16:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_cmTemplate_Blob')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_cmTemplate_CommonServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_CompleteWO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy new and changed files only by using LastModifiedDate",
				"activities": [
					{
						"name": "CopyNewFiles",
						"description": "Copy new and changed files only by using LastModifiedDate",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@pipeline().parameters.windowStart",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@pipeline().parameters.windowEnd",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BinaryDataSourceStore_CompleteWO",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BinaryDataDestinationStore_CompleteWO",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T03:59:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BinaryDataSourceStore_CompleteWO')]",
				"[concat(variables('factoryId'), '/datasets/BinaryDataDestinationStore_CompleteWO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_CosmosDBBackUp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_5u7",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "FormJsonData"
							},
							{
								"name": "Destination",
								"value": "cosmosdbbakup//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "CosmosDbSqlApiSource",
								"preferredRegions": []
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_CosmosDBBackUp",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_CosmosDBBackUp",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T15:18:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_CosmosDBBackUp')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_CosmosDBBackUp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_Fitdefitment')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy new and changed files only by using LastModifiedDate",
				"activities": [
					{
						"name": "CopyNewFiles",
						"description": "Copy new and changed files only by using LastModifiedDate",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@pipeline().parameters.windowStart",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@pipeline().parameters.windowEnd",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "*",
										"type": "Expression"
									},
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BinaryDataSourceStore_Fitdefitment",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BinaryDataDestinationStore_Fitdefitment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "string"
					},
					"windowEnd": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T15:14:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BinaryDataSourceStore_Fitdefitment')]",
				"[concat(variables('factoryId'), '/datasets/BinaryDataDestinationStore_Fitdefitment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_SyncCmRequest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_hji",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "CreateCMWO/To_ADF/"
							},
							{
								"name": "Destination",
								"value": "smd-cmsyncworkorderfile//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@pipeline().parameters.windowStart",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@pipeline().parameters.windowEnd",
										"type": "Expression"
									},
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_syncCmrequest",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_syncCmrequest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"windowStart": {
						"type": "String"
					},
					"windowEnd": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T07:46:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_syncCmrequest')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_syncCmrequest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinaryDataDestinationStore_CompleteWO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data destination store.  ",
				"linkedServiceName": {
					"referenceName": "CommonServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "CompleteWO/New"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommonServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinaryDataDestinationStore_Fitdefitment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data destination store.  ",
				"linkedServiceName": {
					"referenceName": "CommonServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "UpdateFitmentDefitment/New"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommonServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinaryDataSourceStore_CompleteWO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data source store. ",
				"linkedServiceName": {
					"referenceName": "AzureBolbStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "smd-workorderfile"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBolbStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BinaryDataSourceStore_Fitdefitment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data source store. ",
				"linkedServiceName": {
					"referenceName": "AzureBolbStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "smd-fitdefitmentfile"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBolbStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_AxleNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data destination store.",
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AxleNo",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_Axle"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_BogieNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data destination store.",
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_Bogie"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_CM_InitialDelaySetting')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data destination store.",
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "ID",
						"type": "Int32"
					},
					{
						"name": "EQUIP_CLASS_ID",
						"type": "String"
					},
					{
						"name": "EQUIP_CLASS_CD",
						"type": "String"
					},
					{
						"name": "WorkNatureLevel1",
						"type": "String"
					},
					{
						"name": "WorkNatureLevel2",
						"type": "String"
					},
					{
						"name": "StandardJobCode",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Attunity_CM_InitialDelaySetting]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_CarNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data destination store.",
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_Cart"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_EquipmentClass')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EQUIP_CLASS_ID",
						"type": "nvarchar"
					},
					{
						"name": "EQUIP_CLASS_CD",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_EquipmentClass"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_EquipmentClassAssocCode')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "EQUIP_CLASS_ID",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "EQUIP_CLASS_CD",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "TYPE",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CODE",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DESP",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ParentCode",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_EquipmentClassAssocCode"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_EquipmentNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_Equipment"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_FailCodeWithEquipNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data destination store.",
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_FailueCodeWithEquipNo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_IMTE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data destination store.",
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_IMTE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_SYS_GENERIC_CODE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "Code",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Name",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "Type",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ParentCode",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DESP",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_SYS_GENERIC_CODE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_Attunity_StandardJob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SMD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "StandardJobCode",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "StandardJobDesp",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "WorkGroupCode",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "WorkNatureLevel1",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "WorkNatureLevel2",
						"type": "nvarchar",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "EstimateJobDuration",
						"type": "int",
						"precision": 10,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Attunity_StandardJob"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SMD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_CosmosDBBackUp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageBackUp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "cosmosdbbakup"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageBackUp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_DestinationBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data source store. ",
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageBackUp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "root"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageBackUp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_cmTemplate_CommonServer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CommonServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "CreateCMWO/New"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommonServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_syncCmrequest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data source store. ",
				"linkedServiceName": {
					"referenceName": "AzureBolbStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "smd-cmsyncworkorderfile"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBolbStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_AxleNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "AxleNo",
						"type": "String"
					},
					{
						"name": "EQUIP_CLASS_CD",
						"type": "String"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_BogieNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "BogieNo",
						"type": "String"
					},
					{
						"name": "EQUIP_CLASS_CD",
						"type": "String"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_CM_InitialDelaySetting')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "EQUIP_CLASS_CD",
						"type": "String"
					},
					{
						"name": "CTX_ID1",
						"type": "String"
					},
					{
						"name": "CTX_ID2",
						"type": "String"
					},
					{
						"name": "CTX_ID3",
						"type": "String"
					},
					{
						"name": "CTX_ID4",
						"type": "String"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_CarNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "CarNo",
						"type": "String"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_EquipmentClass')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BU_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "EQUIP_CLASS_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "EQUIP_CLASS_CD",
						"type": "varchar"
					},
					{
						"name": "ALIAS_MANDATORY_IND",
						"type": "varchar"
					},
					{
						"name": "GC_EQUIP_CLASS_TYPE_CD",
						"type": "varchar"
					},
					{
						"name": "EQUIP_CLASS_DESP",
						"type": "varchar"
					},
					{
						"name": "FUNCTIONAL_UNIT_IND",
						"type": "varchar"
					},
					{
						"name": "GC_SAFETY_CRITICAL_LEVEL_CD",
						"type": "varchar"
					},
					{
						"name": "GC_SERVICE_CRITICAL_LEVEL_CD",
						"type": "varchar"
					},
					{
						"name": "ASSET_OWNER",
						"type": "varchar"
					},
					{
						"name": "CUSTODIAN",
						"type": "varchar"
					},
					{
						"name": "OPERATOR",
						"type": "varchar"
					},
					{
						"name": "MAINTAIN_WK_GRP_ID",
						"type": "varchar"
					},
					{
						"name": "VENDOR",
						"type": "varchar"
					},
					{
						"name": "OEM",
						"type": "varchar"
					},
					{
						"name": "LOC_RANGE_IND",
						"type": "varchar"
					},
					{
						"name": "ANTICIPATED_LIFE_SPAN",
						"type": "decimal",
						"precision": 6,
						"scale": 2
					},
					{
						"name": "DEFAULT_PARENT_CLASS_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "GC_CLASS_GRP_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "NORMAL_OPER_START_MINUTES",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "NORMAL_OPER_END_MINUTES",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "RESERVED_FIELD1",
						"type": "varchar"
					},
					{
						"name": "RESERVED_FIELD2",
						"type": "varchar"
					},
					{
						"name": "RESERVED_FIELD3",
						"type": "varchar"
					},
					{
						"name": "STATUS",
						"type": "varchar"
					},
					{
						"name": "LAST_UPD_USER_ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "LAST_UPD_DATETIME",
						"type": "datetime2",
						"scale": 6
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "EI_EQUIP_CLASS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_EquipmentClassAssocCode')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "EQUIP_CLASS_ID",
						"type": "Int64"
					},
					{
						"name": "EQUIP_CLASS_CD",
						"type": "String"
					},
					{
						"name": "TYPE",
						"type": "String"
					},
					{
						"name": "CODE",
						"type": "String"
					},
					{
						"name": "DESP",
						"type": "String"
					},
					{
						"name": "ParentCode",
						"type": "Int32"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_EquipmentNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"structure": [
					{
						"name": "EquipmentNo",
						"type": "String"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_FailCodeWithEquipNo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_IMTE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_SYS_GENERIC_CODE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_Attunity_StandardJob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your data source store.",
				"linkedServiceName": {
					"referenceName": "Attunity",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Attunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_CosmosDBBackUp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "FormJsonData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CosmosDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_OriginBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data source store. ",
				"linkedServiceName": {
					"referenceName": "AzureBolbStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "root"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBolbStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_cmTemplate_Blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to your data destination store.  ",
				"linkedServiceName": {
					"referenceName": "AzureBolbStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "smd-cmuploadworkorderfile"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBolbStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_syncCmrequest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CommonServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "CreateCMWO/To_ADF"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommonServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Attunity')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Attunity_connectionString')]",
					"userName": "[parameters('Attunity_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Attunity_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SharedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SharedIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageBackUp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorageBackUp_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBolbStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBolbStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CommonServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ffs",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('CommonServer_properties_typeProperties_host')]",
					"userId": "[parameters('CommonServer_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('CommonServer_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SharedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SharedIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CosmosDb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('CosmosDb_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SMD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('SMD_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_AttunityMaterData')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_AxleNo",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_BogieNo",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_CarNo",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_CarNo_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_CarNo_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_CM_InitialDelaySetting",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_CM_InitialDelaySetting_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_CM_InitialDelaySetting_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_EquipmentClassAssocCode",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_EquipmentClassAssocCode_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_EquipmentClassAssocCode_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_EquipmentNo",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_EquipmentNo_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_EquipmentNo_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_FailCodeWithEquipNo",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_FailCodeWithEquipNo_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_FailCodeWithEquipNo_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_IMTE",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_StandardJob",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_StandardJob_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_AttunityMaterData_properties_CopyPipeline_Attunity_StandardJob_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_SYS_GENERIC_CODE",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2019-09-09T12:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_AxleNo')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_BogieNo')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_CarNo')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_CM_InitialDelaySetting')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_EquipmentClassAssocCode')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_EquipmentNo')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_FailCodeWithEquipNo')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_IMTE')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_StandardJob')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_SYS_GENERIC_CODE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_Attunity_EquipmentClass')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Attunity_EquipmentClass",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_Attunity_EquipmentClass_properties_CopyPipeline_Attunity_EquipmentClass_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_Attunity_EquipmentClass_properties_CopyPipeline_Attunity_EquipmentClass_parameters_windowEnd')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 12,
						"startTime": "2021-03-15T23:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Attunity_EquipmentClass')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_rpa_excel')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_CompleteWO",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_rpa_excel_properties_CopyPipeline_CompleteWO_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_rpa_excel_properties_CopyPipeline_CompleteWO_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_CmTemplate_BlobToCommonServer",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_rpa_excel_properties_CopyPipeline_CmTemplate_BlobToCommonServer_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_rpa_excel_properties_CopyPipeline_CmTemplate_BlobToCommonServer_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_SyncCmRequest",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_rpa_excel_properties_CopyPipeline_SyncCmRequest_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_rpa_excel_properties_CopyPipeline_SyncCmRequest_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Fitdefitment",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_rpa_excel_properties_CopyPipeline_Fitdefitment_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_rpa_excel_properties_CopyPipeline_Fitdefitment_parameters_windowEnd')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2019-09-27T12:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_CompleteWO')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_CmTemplate_BlobToCommonServer')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_SyncCmRequest')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Fitdefitment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_rpa_excel2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_CompleteWO",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_rpa_excel2_properties_CopyPipeline_CompleteWO_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_rpa_excel2_properties_CopyPipeline_CompleteWO_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_CmTemplate_BlobToCommonServer",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_rpa_excel2_properties_CopyPipeline_CmTemplate_BlobToCommonServer_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_rpa_excel2_properties_CopyPipeline_CmTemplate_BlobToCommonServer_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_SyncCmRequest",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_rpa_excel2_properties_CopyPipeline_SyncCmRequest_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_rpa_excel2_properties_CopyPipeline_SyncCmRequest_parameters_windowEnd')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "CopyPipeline_Fitdefitment",
							"type": "PipelineReference"
						},
						"parameters": {
							"windowStart": "[parameters('Trigger_rpa_excel2_properties_CopyPipeline_Fitdefitment_parameters_windowStart')]",
							"windowEnd": "[parameters('Trigger_rpa_excel2_properties_CopyPipeline_Fitdefitment_parameters_windowEnd')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2019-09-27T12:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_CompleteWO')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_CmTemplate_BlobToCommonServer')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_SyncCmRequest')]",
				"[concat(variables('factoryId'), '/pipelines/CopyPipeline_Fitdefitment')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SharedIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "SharedIntegrationRuntime",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('SharedIntegrationRuntime_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}